body {
    margin: 0;
}

.menu-bar {
    display: flex;
    justify-content: center;

}

.option-container {
    position: relative;
    background-color: rgb(237, 232, 232);
    cursor: pointer;

}

.option-container:hover {
    background-color: rgb(183, 183, 183);
}

.option-container:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.option-container:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.drop-down {
    padding: 10px 50px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.drop-down-container {
    opacity: 0;
    width: 150%;
    position: absolute;
    left: 0%;
    top: 110%;
    /* background-color: rgb(215, 213, 213); */
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.drop-down-container.active {
    animation: fadein 400ms ease-in-out;
    animation-fill-mode: forwards;
    pointer-events: auto;
}



.drop-down-container>div {
    padding: 10px 50px;
}

.drop-down-container>div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.drop-down-container>div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drop-down-container>div:hover {
    background-color: rgb(149, 147, 147);
}